@charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
  
  body{
    margin: 0px;
    min-height: 100vh;
  }
  header{
    background-color: #000;
    font-family: sans-serif;
    padding: 30px;
    text-align: center;
  }
  h1{
    color: #fff;
    font-weight: bold;
    font-family: 'Passion One';
    margin: 0px;
    font-variant: small-caps;
  }
  header > p{
    color: #fff;
  }
  a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
section{
  font-family: 'Sriracha';
  padding-top: 10vh;
  padding-bottom: 10vw;
}
footer{
  background-color: #000;
  text-align: center;
  color: #fff;
  margin: 0px;
  padding: 20px;
}